<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>qnivq@unpxreqhqr.pbz</string>
	<key>contactName</key>
	<string>David Martinez</string>
	<key>description</key>
	<string>JavaScript (AppleScript) Bundle</string>
	<key>name</key>
	<string>AppleScript JXA</string>
	<key>uuid</key>
	<string>61592129-0CC0-48E8-AEE9-2C8730B56E31</string>
</dict>
</plist>
