<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>qnivq@unpxreqhqr.pbz</string>
	<key>contactName</key>
	<string>David Martinez</string>
	<key>description</key>
	<string>JavaScript (AppleScript) Bundle</string>
	<key>name</key>
	<string>AppleScript JXA</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>8175F5DA-8393-46D4-9926-F01EF146A33C</string>
			<string>9102EA20-9FBA-4894-9CE6-98EEB64F6353</string>
			<string>C2115BD0-06C2-4BAA-8D85-9210873303E1</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>9102EA20-9FBA-4894-9CE6-98EEB64F6353</key>
			<dict>
				<key>items</key>
				<array>
					<string>F744D457-8726-4E17-8665-FF1F83C06150</string>
					<string>84EFA056-7103-409E-AA07-6D6C98B4F8C6</string>
					<string>36D2889E-3572-458B-9D26-EBD0CD0F603C</string>
					<string>411A3E51-FD02-4569-AF69-72AC40FFBBD7</string>
					<string>0AD17289-4F4C-4EAF-BDBE-E6D348869DF1</string>
				</array>
				<key>name</key>
				<string>AppleScript Snippets</string>
			</dict>
			<key>C2115BD0-06C2-4BAA-8D85-9210873303E1</key>
			<dict>
				<key>items</key>
				<array>
					<string>36EC03E9-EFF4-479A-AB90-8DFA16800642</string>
				</array>
				<key>name</key>
				<string>Refactorings</string>
			</dict>
			<key>8175F5DA-8393-46D4-9926-F01EF146A33C</key>
			<dict>
				<key>items</key>
				<array>
					<string>009514ED-12AE-440F-811E-CD7D41368DBF</string>
					<string>9B27DBEA-56C1-4484-ACC7-0A5A05CFF9A8</string>
					<string>4B1F658D-CB1C-4D10-968D-A443F8597C28</string>
					<string>C1FE098B-501D-4567-B024-5C9C394898E5</string>
					<string>13386ECB-2A5C-4881-9D54-035BC8B0A4A1</string>
					<string>2F96136B-0193-42F5-90FC-B6F456A3AD77</string>
					<string>77065D69-742A-4FF0-9A41-AD211DFBE72F</string>
					<string>DC8B46FB-8ADA-45EA-8F36-94C807A0D302</string>
					<string>3E69BFC9-8C2B-4BB3-875C-8673C1740FD4</string>
					<string>20E20EB2-E795-4097-86CF-D40E44DC4E70</string>
					<string>F19F3732-39A7-48EC-A72B-A8F477A01795</string>
					<string>31964029-9D71-4ADC-8213-DFE5C4E222B3</string>
					<string>4C6EDB43-3E2E-411B-A016-13C135C59833</string>
					<string>F0E4FB6A-4878-48C6-A777-62438DF1E14F</string>
					<string>011C4681-FBEC-4891-9326-3DECFCDED6D6</string>
					<string>C207B7C3-5597-4873-8AAD-C46FB8842AF2</string>
					<string>3AFF0ECE-A475-4CFB-832B-EE551D90B8E5</string>
					<string>D7E2FD2A-5B78-4147-BBF4-BE7FE854A337</string>
					<string>5BA406DB-A4B1-4CED-BA61-33D378FD7F53</string>
					<string>0FF6F54D-AFE0-4FC5-9A15-E837A167689C</string>
				</array>
				<key>name</key>
				<string>Language</string>
			</dict>
		</dict>
		<key>excludedItems</key>
		<array/>
	</dict>
	<key>uuid</key>
	<string>61592129-0CC0-48E8-AEE9-2C8730B56E31</string>
</dict>
</plist>
